{
	"ts": 1597745509564,
	"uri": "https://raw.githubusercontent.com/fazhong/javadoc/master/lib/",
	"launchClass": "com.cloudease.animation.AnimationApplication",
	"files": [
		{
			"file": "animation.properties",
			"checksum": 1833320432,
			"size": 10996
		},
		{
			"file": "animationApp-1.0.0.jar",
			"checksum": 4205864342,
			"size": 246548,
			"os": "win"
		},
		{
			"file": "animationAppDex-1.0.0.jar",
			"checksum": 1088438202,
			"size": 132775,
			"os": "android"
		}
	],
	"updateText": "Updating...",
	"updateLabelStyle": "-fx-font-weight: bold;",
	"progressBarStyle": "-fx-pref-width: 200;",
	"wrapperStyle": "-fx-spacing: 10; -fx-padding: 25;",
	"parameters": null,
	"cacheDir": null,
	"acceptDowngrade": false,
	"stopOnUpdateErrors": false,
	"preloadNativeLibraries": null,
	"whatsNewPage": null,
	"lingeringUpdateScreen": false
}