{
	"ts": 1594303876802,
	"uri": "https://raw.githubusercontent.com/fazhong/javadoc/master/lib/",
	"launchClass": "com.cloudease.animation.AnimationApplication",
	"files": [
		{
			"file": "animation.properties",
			"checksum": 3298439655,
			"size": 10954
		},
		{
			"file": "animationApp-1.0.0.jar",
			"checksum": 1474105129,
			"size": 211705,
			"os": "win"
		},
		{
			"file": "animationAppDex-1.0.0.jar",
			"checksum": 1991495986,
			"size": 115862,
			"os": "android"
		}
	],
	"updateText": "Updating...",
	"updateLabelStyle": "-fx-font-weight: bold;",
	"progressBarStyle": "-fx-pref-width: 200;",
	"wrapperStyle": "-fx-spacing: 10; -fx-padding: 25;",
	"parameters": null,
	"cacheDir": null,
	"acceptDowngrade": false,
	"stopOnUpdateErrors": false,
	"preloadNativeLibraries": null,
	"whatsNewPage": null,
	"lingeringUpdateScreen": false
}